<div class="contentDiv" dashboard-context-div>
	<div class="horisontal">
		<div class="vertical">
			<div class="levelTitle">
				<h2>%LEVEL_TITLE%</h2>
			</div>
			
			<p class="levelDescription">%LEVEL_DESCRIPTION%</p>
		</div>
		
		<img loading="lazy" class="difficultyImage" src="%LEVEL_DIFFICULTY_IMAGE%"></img>
	</div>
	
	<div class="horisontal stats">
		<div class="songCard">
			<button class="contents" dashboard-show="%LEVEL_IS_CUSTOM_SONG%"
				dashboard-title="%LEVEL_SONG_TITLE%"
				dashboard-author="%LEVEL_SONG_AUTHOR%"
				dashboard-url="%LEVEL_SONG_URL%"
				dashboard-song="%LEVEL_SONG_ID%"
			>
				<i class="fa-solid fa-circle-play"></i>
			</button>
			<i dashboard-hide="%LEVEL_IS_CUSTOM_SONG%" class="fa-solid fa-music"></i>
			
			<text>%LEVEL_SONG%</text>
		</div>
		
		<div class="levelStats">
			<text class="levelStat" title="%TEXT_levelID%">
				<i class="fa-solid fa-gamepad"></i>
				<text dashboard-copy>%levelID%</text>
			</text>
		
			<text class="levelStat" title="%TEXT_uploadDate%">
				<i class="fa-solid fa-calendar"></i>
				<text dashboard-date="%uploadDate%"></text>
			</text>
		
			<text class="levelStat" title="%TEXT_levelLength%">
				<i class="fa-solid fa-clock"></i>
				%LEVEL_LENGTH%
			</text>
			
			<text class="levelStat" title="%TEXT_stars%" dashboard-hide="%LEVEL_IS_PLATFORMER%">
				<i class="fa-solid fa-star"></i>
				%starStars%
			</text>
			
			<text class="levelStat" title="%TEXT_moons%" dashboard-show="%LEVEL_IS_PLATFORMER%">
				<i class="fa-solid fa-moon"></i>
				%starStars%
			</text>
			
			<text class="levelStat" title="%TEXT_downloads%">
				<i class="fa-solid fa-reply fa-rotate-270"></i>
				%downloads%
			</text>
			
			<text class="levelStat" title="%TEXT_rating%">
				<i dashboard-hide="%LEVEL_IS_DISLIKED%" class="fa-solid fa-thumbs-up"></i>
				<i dashboard-show="%LEVEL_IS_DISLIKED%" class="fa-solid fa-thumbs-down"></i>
				%LEVEL_LIKES%
			</text>
			
			<button class="button titleToRight" type="button" title="%TEXT_viewLevel%" href="browse/levels/%levelID%">
				<i class="fa-solid fa-eye"></i>
			</button>
		</div>
	</div>
	
	<div class="contextMenuDiv" dashboard-context-menu>
		<button class="contextMenuButton" title="%TEXT_viewLevel%" type="button" href="browse/levels/%levelID%">
			<i class="fa-solid fa-eye"></i>
			<text>%TEXT_viewLevel%</text>
		</button>
		
		<button class="contextMenuButton" title="%TEXT_viewComments%" type="button" href="browse/levels/%levelID%/comments">
			<i class="fa-solid fa-comment"></i>
			<text>%TEXT_viewComments%</text>
		</button>
		
		<button class="contextMenuButton" title="%TEXT_viewLeaderboards%" type="button" href="browse/levels/%levelID%/scores">
			<i class="fa-solid fa-chart-simple"></i>
			<text>%TEXT_viewLeaderboards%</text>
		</button>
		
		<button class="contextMenuButton" title="%TEXT_viewSongs%" type="button" href="browse/levels/%levelID%/songs">
			<i class="fa-solid fa-music"></i>
			<text>%TEXT_viewSongs%</text>
		</button>
		
		<button class="contextMenuButton" title="%TEXT_viewSFXs%" type="button" href="browse/levels/%levelID%/sfxs">
			<i class="fa-solid fa-drum"></i>
			<text>%TEXT_viewSFXs%</text>
		</button>
		
		<button class="contextMenuButton" title="%TEXT_manageLevel%" type="button" href="browse/levels/%levelID%/manage" dashboard-show="%LEVEL_CAN_MANAGE%">
			<i class="fa-solid fa-pencil"></i>
			<text>%TEXT_manageLevel%</text>
		</button>
	</div>
</div>