<div class="contentDiv">
	<div class="vertical">
		<div class="levelTitle">
			<div class="horisontal">
				<h2>%POST_USER%</h2>
			</div>
			
			<div class="commentStat">
				<button class="button squareButton"
					dashboard-show="%POST_CAN_DELETE%"
					onclick="postPage('manage/deletePost', 'post%commentID%')"
					title="%TEXT_deleteComment%"
				>
					<i class="fa-solid fa-xmark"></i>
				</button>
				<form name="post%commentID%">
					<input type="hidden" name="postID" value="%commentID%"></input>
				</form>
				
				<text title="%TEXT_likes%">
					<i class="fa-solid fa-thumbs-up"></i> %likes%
				</text>
				•
				<text title="%TEXT_dislikes%">
					<i class="fa-solid fa-thumbs-down"></i> %dislikes%
				</text>
			</div>
		</div>
		
		<p class="levelDescription">%POST_CONTENT%</p>
		
		<div class="stats small">
			<div class="commentStat" title="ID">
				<i class="fa-solid fa-comment"></i> 
				<text dashboard-copy>%commentID%</text>
			</div>
			
			<div class="commentStat" title="%TEXT_uploadDate%">
				<i class="fa-solid fa-calendar"></i>
				<text dashboard-date="%timestamp%"></text>
			</div>
		</div>
	</div>
</div>