<div class="horisontal" dashboard-page-buttons>
	<div class="modeButtons">
		<button type="button" title="%TEXT_sortByLikes%" onclick="getPage('@page=REMOVE_QUERY&mode=1')"><i class="fa-solid fa-thumbs-up"></i></button>
		<button type="button" title="%TEXT_sortByTime%" onclick="getPage('@page=REMOVE_QUERY&mode=REMOVE_QUERY')"><i class="fa-solid fa-clock"></i></button>
	</div>
	
	<div class="pageDiv">
		<p>%POST_PAGE_TEXT%</p>
		<div class="pageButtons">
			<button dashboard-disable="%IS_FIRST_PAGE%" class="pageButton" type="button" onclick="%FIRST_PAGE_BUTTON%">
				<i class="fa-solid fa-backward"></i>
			</button>
			
			<button dashboard-disable="%IS_FIRST_PAGE%" class="pageButton" type="button" onclick="%PREVIOUS_PAGE_BUTTON%">
				<i class="fa-solid fa-chevron-left"></i>
			</button>
			
			<button dashboard-disable="%IS_LAST_PAGE%" class="pageButton" type="button" onclick="%NEXT_PAGE_BUTTON%">
				<i class="fa-solid fa-chevron-right"></i>
			</button>
			
			<button dashboard-disable="%IS_LAST_PAGE%" class="pageButton" type="button" onclick="%LAST_PAGE_BUTTON%">
				<i class="fa-solid fa-forward"></i>
			</button>
		</div>
	</div>
</div>

<div class="nothingOnPageDiv" dashboard-show="%PROFILE_NO_POSTS%">
	<i class="fa-solid fa-comment-slash nothing-icon"></i>
	<h1>%TEXT_noPosts%</h1>
</div>

%ADDITIONAL_PAGE%

<form class="inlineForm" name="uploadPostForm" autocomplete="off" dashboard-show="%PROFILE_CAN_POST%">
	<input class="inputStyle bordered" type="text" name="comment" placeholder="%TEXT_writeSomething%" />
	
	<button class="button bordered" type="button" onclick="postPage('manage/uploadPost', 'uploadPostForm')"><i class="fa-solid fa-paper-plane"></i></button>
</form>